/*CSS for ThaPenny Site*/
*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}

/* -- -- */
ul {
	list-style-position: inside;
}

img {
	display: block;
	background: #ffffff;
	margin: 0 auto;
	max-width: 100%;
}

#pageTitle{
	font: 1.2em/1 "Apple Chancery", Helvetica, sans-serif ;
	margin-top: -30px;
	margin-bottom: 20px;
}

/*--------this section deals with the entire body of website-----------*/

body {
	 background-color: #f2f2f2;
	}
	
header,
.wrapper,
footer {
	width: 100%; max-width: 960px;
 	margin: 0 auto;
 	position: relative;
}

header::after,
.wrapper::after,
nav::after,
#blogPost::after,
footer::after{
	content: "";
	display: table;
	clear: both;
}

.wrapper{
	padding: 50px 20px;
}

/*--------this section deals withhome "spash" page----------------*/	
#homePageheader{
	background-color: #ccc;
	background-image: url(../images/ThaPenny_header_image.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 50px;
	
}

#tagline,
#intro_heading,
#intro_getStarted{
	margin-top: 20px;
}

#tagline{
	font: 2em/1.25 "Adobe Caslon Pro", Helvetica, sans-serif ;
	color: #d1a534;
}

#intro_heading{
	display: inline-block;
	font: 2em/1.25 "Adobe Caslon Pro", Helvetica, sans-serif ;
	color: #e6e6e6;
	width: 40%;
}

#intro_getStarted a{
	color: #d1a534;	
}

#arrowDown a{
	margin-top: 5px;
	margin-bottom: 20px;
	display: inline-block;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #d1a534;
	
}

nav {
	background: #000;
	padding: 10px 20px;
}

nav h1 { 
	float: left; 
	width: 195px;
	background-color: : #ccc;
	background-image: url(../images/thapenny_logo.png);
	background-size: 150px 100%;
	background-repeat: no-repeat;
	text-indent: -9999px;
}
nav ul { float: right; }
nav li { 
	font: 100%/1.25 "Adobe Caslon Pro", Helvetica, sans-serif;
	float: left; 
}
nav a {
	font: 1.125em/1.5; /* 18px/16px */
	color: #ccc;
	text-decoration: none;
	display: block;
	padding: 10px;
	padding-top: 20px;
	border-right: solid .5px #000;
	height: 50px;
}

nav h1 a,
nav li:last-of-type a { border-right: none; }
				   
nav a:hover {
  text-decoration: none;
  color: #d1a534;
}

nav a:active {
  color: white;
  background-color: black;
}

/*--------this section deals with content on homepage---------------- */


.wrapper section { 
	position: relative;
	margin-bottom: 20px; 
}

.wrapper h3{
	font: 1.33em/1.25  "Adobe Caslon Pro", Helvetica, sans-serif;
	color: #d1a534;
}

.wrapper a{
	color: #d1a534;
}

@media (min-width: 600px) {
	.wrapper section {
		width: calc(50% - 20px);
		margin-bottom: 0;
	}
	.wrapper section:nth-of-type(1) { float: left; }
	.wrapper section:nth-of-type(n+2) { float: right; }
	.wrapper section:nth-of-type(2) { margin-bottom: 37px; }
}


#stockofweek {
	background-color: #ccc;
	border-radius: 10px;
	text-align: center;
}

#stockofweek img{
	background: transparent;
}

#stockofweek div{
	padding: 20px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#stockofweek h2{
	position: absolute; top: -20px;
	color: #c5c5c5;
}

#education a,
#newsletter a{
	display: inline-block;
	float: right;
	margin-top: 10px;
	text-decoration: underline;
}

#education ul li,
#newsletter ul li{
	padding: 3.2px;
}

#newsletter{
	background: #ccc;
	padding: 10px;
	border-radius: 10px;
}

/*--------this section deals with the content on tickerbuzz.html----------- */
#blogPost{
	width: 55%;
	margin-right: 30px;	
}

#blogPost aside{
	background: #333;
	width: 55px;
	margin-right: 5px;
	color: #ccc;
	padding: 8px;
	text-align: center;
	float: left;
}

#blogPost h3{
	text-transform: uppercase;
}

#blogPost p{
	margin: 20px 0;
}

#blogPost div{
	color: #ccc;
	font-size: 50px;
	text-align: center;
	padding: 75px;
	margin: 10px 0;
	background: #333;
	width: 100%;
	height: 220px;
}

#ad{
	width: 300px;
	height: 600px;
	float: right;
	
}

/*--------this section deals with the footer----------- */

footer{
	clear: both; 
	background-color: #333;
	text-align: center;
	padding: 10px;
	margin-bottom: 50px;
}

footer ul{
	list-style: none;
	display: inline-block;
}
footer li{ 
	float: left; 
}

footer li a {
	display: block;
	padding: 10px 80px;
	color: #e6e6e6;
}

footer li img{
	background: transparent;
	padding: 3px;
}

footer p {
	position: absolute; bottom: -25px; left: 0;
	width: 100%;
}
